
        body {
            font-family: Arial, sans-serif;
            background-color: #0036e6;
            color: #ffffff;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        header {
            background-color: #000000;
            width: 100%;
            padding: 1em;
            text-align: center;
        }
        header img {
            width: 150px;
        }
        main {
            padding: 0em;
            text-align: center;
        }
        .content {
            margin: 1em 0;
    
        }
        footer {
            background-color: #000000;
            width: 100%;
            padding: 1em;
            text-align: center;
            padding-bottom: 1;
            bottom: 0;
        }    
          .container{
            margin: auto;
            width: 800px;
            padding: 100px;
            ;
        
          }
          ul {
              list-style: none;
              padding: 0;
              margin: 20px auto;
              max-width: 600px;
          }
          li {
              background: linear-gradient(90deg, #0004ff, #2f00ff);
              margin: 15px 0;
              padding: 20px;
              font-size: 1.5rem;
              border-radius: 12px;
              border-top: 5px solid #000000;
              border-bottom: 5px solid #000000;
              border-left: 5px solid #000000;
              border-right: 5px solid #000000;
              transition: all 0.3s ease;
          }
          li:hover {
              background: linear-gradient(90deg, #2f00ff, #0400ff);
              transform: translateY(-10px);
              box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
          }
          h1 {
              color: #ffd700;
              text-shadow: 3px 3px #000;
          }
          .volver {
            box-shadow: 3px 4px 0px 0px #100ceb;
          background:linear-gradient(to bottom, #6d4cff 5%, #153b01 100%);
          background-color:#111111;
          border-radius:18px;
          border:1px solid #2218ab;
          display:inline-block;
          cursor:pointer;
          color:#ffffff;
          font-family:Arial;
          font-size:17px;
          padding:7px 25px;
          text-decoration:none;
          text-shadow:0px 1px 0px #282766;
          }
        
        .inicio {
          box-shadow: 3px 4px 0px 0px #100ceb;
          background:linear-gradient(to bottom, #6d4cff 5%, #153b01 100%);
          background-color:#111111;
          border-radius:18px;
          border:1px solid #2218ab;
          display:inline-block;
          cursor:pointer;
          color:#ffffff;
          font-family:Arial;
          font-size:17px;
          padding:7px 25px;
          text-decoration:none;
          text-shadow:0px 1px 0px #282766;
        }
        .ul {
          list-style: none;
          padding: 0;
          margin: 20px auto;
          max-width: 300px;
      }
      .contain{
        width: 300px;
        padding: 0px;
        ;
    
      }
      